* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background: #AEBFEA;
    transition: all .50s ease;
}

.logo {
    width: 250px;
    height: 70px;
    color: #ff7b00;
    font-weight: 600;
}

.navlist {
    display: flex;
    margin-left: 80px;
    margin-right: 100px;
}

.navlist a {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-top: 15px;
    margin-left: 40px;
    transition: all .50s ease;
    text-decoration: none;
}

.navlist a:hover {
    color: blueviolet;
    text-shadow: 3px 3px 20px blueviolet, -2px 1px 30px blueviolet;
    transform: translateY(-5px);
}

.profile {
    width: 100px;
    height: 70px;
    color: #ff7b00;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid white;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.btn_pinjam {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background: #ff7b00;
    border-radius: 10px;
    padding: 10px;
    transition: all .50s ease;
}

.btn_pinjam:hover {
    text-shadow: 3px 3px 20px blueviolet, -2px 1px 30px blueviolet;
    transform: scale(1.1);
}