.btn_rincian {
    background-color: green;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    transition: all .50s ease;
    border-radius: 10px;
    /* Adjust the margin-top value to create the desired space */
}

.btn_rincian:hover {
    transform: scale(1.1);
    background-color: green;
}

.btn_pinjam {
    background-color: blue;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    transition: all .50s ease;
    border-radius: 10px;
}

.btn_pinjam:hover {
    transform: scale(1.1);
    background-color: blue;
}